@media screen and (max-width: 767px) {

    .wrapper { 
        width: 300px;
    }
    .header { 
        width:  300px; 
    }
    .left { 
        width: 100px;
    }
    .unleft1 {
        width: 200px;
    }
    .right { 
        width: 75px;
    }
    .center {
        width: 125px;
      }
      .center_01 {
        width: 125px;
      }
      .center_02 {
        width: 125px;
      }
      .under { 
        width: 200px;
    }
      .footer { 
        width: 300px; 
    }
    
@media screen and (max-width: 479px) {

    .wrapper {
        width: 150px; 
    }
    .header { 
        width: 150px; 
    }
    .left { 
        width: 150px;
        height: 100px; 
    }
    .unleft1 { 
        width: 150px;
    }
    .unleft2 {
        width: 150px;
    }
    .right { 
        float: none; 
        width: 150px;
        height: 100px; 
    }
       .center {
        width: 150px;
      }
      .center_01 {
        float: none; 
        width: 150px;
      }
      .center_02 {
        float: none; 
        width: 150px;
      }
      .under { 
        width: 150px;
    }
      .footer { 
        width: 150px;
     }
